{{define "navbar"}}
<a class="navbar-brand" href="/admin/index"> 管理员列表 </a>
{{end}}

{{define "css"}}
{{end}}

{{template "layout/head.html" . }}

<input type="hidden" id="xsrf" value="{{.xsrf_token}}">
<div class="container-fluid dataTables_wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">管理员列表</h4>
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>UID</th>
                                <th>用户名</th>
                                <th>昵称</th>
                                <th>邮箱</th>
                                <th>角色</th>
                                <th>注册时间</th>
                                <th>最后登录IP</th>
                                <th>最后登录时间</th>
                                <th class="disabled-sorting text-right">管理操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{range .admins}}
                                <tr>
                                    <td>{{.Id}}</td>
                                    <td>{{.Username}}</td>
                                    <td>{{.Nickname}}</td>
                                    <td>{{.Email}}</td>
                                    <td>{{ index GetRoles .Role}}</td>
                                    <td>{{.Created}}</td>
                                    <td>{{.Last_ip}}</td>
                                    <td>{{.Update}}</td>
                                    <td class="td-actions text-right">
                                        <a href="javascript:void(0)" data-id="{{.Id}}" type="button" rel="tooltip" class="btn btn-success up_psw" data-original-title="" title="修改密码">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="javascript:void(0)" type="button" rel="tooltip" class="btn btn-danger del-btn" data-original-title="" title="删除用户">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                            {{end}}

                            </tbody>
                        </table>
                    </div>

                    {{str2html .page}}

                </div>
            </div>
        </div>
    </div>
</div>


{{template "layout/tail.html" . }}

{{define "js"}}
<script>
    $(document).ready(function() {
        $(".up_psw").click(function () {
            var _this = $(this)
            swal({
                title: '请输入新的密码',
                html: '<div class="form-group">' +
                '<input id="new-psw" type="password" class="form-control" />' +
                '</div>',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function(result) {
                $(".btn").blur();
                var new_psw = $("#new-psw").val()
                var uid = _this.data('id')
                if(!new_psw){
                    return
                }
                // ajax 修改密码
                $.post('/admin/new-psw', {'_xsrf' : $("#xsrf").val(), 'uid' : uid , 'newPsw':new_psw}, function (data) {
                    if(data.status){
                        main.notifyShow(data.msg, "success")
                        return
                    }
                    main.notifyShow(data.msg, "danger")
                }, 'json')
            }).catch(function () {
                $(".btn").blur();
            })

        })
    });
</script>
{{end}}

{{ template "js" }}