{{define "css"}}
{{end}}

{{template "layout/head.html" . }}

<div class="container-fluid">
    <div class="card">
        <form id="MenuValidation" action="" method="POST">
            {{.xsrfdata}}
            <div class="card-header card-header-text" data-background-color="rose">
                <h4 class="card-title">{{if .model.Id}}编辑栏目{{else}}添加栏目{{end}}</h4>
            </div>

            <div class="card-content">

                <div class="form-group label-floating">
                    <label class="control-label">
                        请选择父节点
                        <small>*</small>
                    </label>
                    <select id="pid" class="form-control" name="pid" required="true">
                        <option value="0">顶级栏目</option>
                        {{range .parentNode}}
                        <option value="{{.Id}}">{{.Name}}</option>
                        {{end}}
                        <option value="1">1111</option>
                    </select>
                </div>

                <div class="form-group label-floating">
                    <label class="control-label">
                        栏目名
                        <small>*</small>
                    </label>
                    <input class="form-control" name="name" type="text" required="true" value="{{.model.Name}}" />
                </div>

                <div class="form-group label-floating box-icons hide">
                    <label class="control-label">
                        Icons
                    </label>
                    <input class="form-control" name="icons" type="text" value="{{.model.Icons}}" />
                </div>

                <div class="form-group label-floating box-url hide">
                    <label class="control-label">
                        Url
                        <small>*</small>
                    </label>
                    <input class="form-control" id="url" name="url" type="text" value="{{.model.Url}}" />
                </div>

                <div class="form-group label-floating">
                    <label class="control-label">
                        排序
                        <small>*</small>
                    </label>
                    <input class="form-control" name="sort" type="text" required="true" value="{{if .model.Sort}}{{.model.Sort}}{{end}}" />
                </div>

                <div class="form-group label-floating">
                    <label class="control-label">
                        状态
                        <small>*</small>
                    </label>
                    <select id="status" class="form-control" name="status" required="true">
                        {{range .status}}
                        <option value="{{.Status}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="form-footer text-right">
                    <button type="submit" class="btn btn-rose btn-fill">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{{template "layout/tail.html" . }}

{{define "js"}}
<script type="text/javascript">

    function setFormValidation(id) {
        $(id).validate({
            errorPlacement: function(error, element) {
                $(element).parent('div').addClass('has-error');
            }
        });
    }

    //父节点显示
    function parentNodeShow() {
        var pid= $("#pid").val();
        if(pid == 0){
            $(".box-icons").removeClass('hide')
            $(".box-url").addClass('hide')
            $("#url").removeAttr('required')
            $("#url").removeAttr('aria-required')
            return
        }
        $(".box-icons").addClass('hide')
        $(".box-url").removeClass('hide')
        $("#url").attr('required', 'true')
    }

    //设置 父节点默认值
    function setParentNodeShowDefault() {
        if({{.model.Pid}}){
            $("#pid").find('option[value={{.model.Pid}}]').attr('selected', 'selected')
        }
    }

    //设置 状态默认值
    function setStatusDefault() {
        if({{.model.Status}}){
            $("#status").find('option[value={{.model.Status}}]').attr('selected', 'selected')
        }
    }
    
    $(document).ready(function() {
        setParentNodeShowDefault()
        setStatusDefault()
        setFormValidation('#MenuValidation');

        parentNodeShow()

        $("#pid").change(function () {
            parentNodeShow()
        })

    });

</script>
{{end}}

{{template "js" .}}
