{{define "css"}}
{{end}}

{{template "layout/head.html" . }}

<div class="container-fluid dataTables_wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">栏目表</h4>
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>栏目名</th>
                                <th>Icons</th>
                                <th>排序</th>
                                <th>开启/关闭</th>
                                <th class="disabled-sorting text-right">管理操作</th>
                            </tr>
                            </thead>
                            <tbody>



                            {{range .parent}}
                            <tr>
                                <td>顶级栏目</td>
                                <td>{{.Name}}</td>
                                <td><i class="material-icons">{{.Icons}}</i></td>
                                <td>{{.Sort}}</td>
                                <td>{{.Status}}</td>
                                <td class="td-actions text-right">
                                    <a href="/menu/form/{{.Id}}" type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>

                                {{$sub_node := index $.subNode .Id}}
                                {{range $sub_node}}
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-1" style="margin-top: 4px"><i class="material-icons">list</i></div>
                                            <div class="col-md-5" style="margin-top: 6px">子级栏目</div>
                                        </div>
                                    </td>
                                    <td>{{.Name}}</td>
                                    <td><i class="material-icons">{{.Icons}}</i></td>
                                    <td>{{.Sort}}</td>
                                    <td>{{.Status}}</td>
                                    <td class="td-actions text-right">
                                        <a href="/menu/form/{{.Id}}" type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                                {{end}}

                            {{end}}
                            </tbody>
                        </table>
                    </div>

                    <!--<div class="row">-->
                        <!--<div class="col-sm-5">-->
                            <!--<div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">Showing 1 to 10 of 40 entries</div></div>-->
                        <!--<div class="col-sm-7">-->
                            <!--<div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">-->
                                <!--<ul class="pagination">-->
                                    <!--<li class="paginate_button first disabled" id="datatables_first">-->
                                        <!--<a href="#" aria-controls="datatables" data-dt-idx="0" tabindex="0">First</a></li>-->
                                    <!--<li class="paginate_button previous disabled" id="datatables_previous">-->
                                        <!--<a href="#" aria-controls="datatables" data-dt-idx="1" tabindex="0">Previous</a></li>-->
                                    <!--<li class="paginate_button active">-->
                                        <!--<a href="#" aria-controls="datatables" data-dt-idx="2" tabindex="0">1</a></li>-->
                                    <!--<li class="paginate_button ">-->
                                        <!--<a href="#" aria-controls="datatables" data-dt-idx="3" tabindex="0">2</a></li>-->
                                    <!--<li class="paginate_button ">-->
                                        <!--<a href="#" aria-controls="datatables" data-dt-idx="4" tabindex="0">3</a></li>-->
                                    <!--<li class="paginate_button ">-->
                                        <!--<a href="#" aria-controls="datatables" data-dt-idx="5" tabindex="0">4</a></li>-->
                                    <!--<li class="paginate_button next" id="datatables_next">-->
                                        <!--<a href="#" aria-controls="datatables" data-dt-idx="6" tabindex="0">Next</a></li>-->
                                    <!--<li class="paginate_button last" id="datatables_last">-->
                                        <!--<a href="#" aria-controls="datatables" data-dt-idx="7" tabindex="0">Last</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    {{str2html .page}}

                </div>
            </div>
        </div>
    </div>
</div>


{{template "layout/tail.html" . }}

{{define "js"}}
{{end}}

{{ template "js" }}