{{define "css"}}
{{end}}

{{template "layout/head.html" . }}

<div class="container-fluid dataTables_wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">栏目表</h4>
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>栏目名</th>
                                <th>Icons</th>
                                <th>排序</th>
                                <th>开启/关闭</th>
                                <th class="disabled-sorting text-right">管理操作</th>
                            </tr>
                            </thead>
                            <tbody>



                            {{range .parent}}
                            <tr>
                                <td>顶级栏目</td>
                                <td>{{.Name}}</td>
                                <td><i class="material-icons">{{.Icons}}</i></td>
                                <td>{{.Sort}}</td>
                                <td>{{.Status}}</td>
                                <td class="td-actions text-right">
                                    <a href="/menu/form/{{.Id}}" type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a href="/menu/del/{{.Id}}" type="button" rel="tooltip" class="btn btn-danger del-btn" data-original-title="" title="">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>

                                {{$sub_node := index $.subNode .Id}}
                                {{range $sub_node}}
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-1" style="margin-top: 4px"><i class="material-icons">list</i></div>
                                            <div class="col-md-5" style="margin-top: 6px">子级栏目</div>
                                        </div>
                                    </td>
                                    <td>{{.Name}}</td>
                                    <td><i class="material-icons">{{.Icons}}</i></td>
                                    <td>{{.Sort}}</td>
                                    <td>{{.Status}}</td>
                                    <td class="td-actions text-right">
                                        <a href="/menu/form/{{.Id}}" type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="/menu/del/{{.Id}}" type="button" rel="tooltip" class="btn btn-danger del-btn" data-original-title="" title="">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                                {{end}}

                            {{end}}
                            </tbody>
                        </table>
                    </div>

                    {{str2html .page}}

                </div>
            </div>
        </div>
    </div>
</div>


{{template "layout/tail.html" . }}

{{define "js"}}
<script>
    $(document).ready(function() {
        $(".del-btn").click(function () {
            var href = $(this).attr('href')
            swal({
                title: '确定要删除吗?',
                html: '',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            }).then(function(result) {
                self.location = href;
                return true;
            }, function (dismiss) {
                if (dismiss === 'cancel') {
                    return false;
                }
            })

            return false;
        })
    });
</script>
{{end}}

{{ template "js" }}